* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ececec;
    padding-top: 115px;
}
a {
    text-decoration: none;
    color: #fff;
}
h3 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.8rem;
    color: #3399cc;
}
.hidden {
    display: none;
}
#quickMenuOpen, #quickMenu {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99500;
}
#quickMenuOpen {
    background-color: #3399cc;
    padding: 8px;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1.5rem;
    color: #fff;
    box-shadow: 2px 5px 5px #00000093;
    border: solid 2px #fff;
    border-left: none;
    padding-right: 12px;
    height: 50px;
    line-height: 30px;
}
#quickMenu {
    background-color: #3399cc;
    border: solid 2px #fff;
    border-left: none;
    color: #fff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 8px;
}
#quickMenuClose, #closeAddNoteBtn,
#closeAddResourceBtn {
    background-color: orangered;
    text-align: center;
    border-radius: 1rem;
    width: 90%;
    padding: 5px;
    margin-inline: auto;
    margin-bottom: 10px;
    color: #fff;
}
#addNoteEl h4,
#addResourceEl h4 {
    text-align: center;
    font-size: 2rem;
    color: #3399cc;
}

#addNoteEl, #addResourceEl {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ececec;
    z-index: 99950;
    width: 100vw;
    height: 100vh;
    padding-top: 5vh;
    text-align: center;
}
#addNoteEl form, #addResourceEl form {
    position: fixed;
    top: 50%;
    left: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 8px;
    z-index: 99999;
    width: 80vw;
    height: 60vh;

}
#addNoteEl form {
    background-color: #f6e785;
}
#addResourceEl form {
    background-color: #faafa5;
}

.spread-table {
    width: 95%;
    max-width: 95vw;
    margin-inline: auto;
    overflow-x: auto;

}
.spread-table table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}
.spread-table a {
    color: #3399cc;
    text-decoration: none;
}
.spread-table td {
    text-overflow: clip;
    padding: 3px;
    border-bottom: solid 1px #3399cc;
}
.spread-table tbody tr:last-of-type {
    box-shadow:inset 0 -5px 5px rgba(255, 68, 0, 0.75);
    border-top: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
}
.spread-table tbody tr:last-of-type td {
    padding-bottom: 10px;
}
.spread-table tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 1rem;
    
}
.spread-table tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 1rem;
}
.spread-table td:last-of-type {
    border-left: solid 1px #3399cc;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.move-this-el {
    display: none;
}
.logo-container {
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
}
    
.logo-container img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0 0 8px #3399cc);
}
.page-header {
    margin-top: 50px;
}
.page-header h1 {
    text-align: center;
    color: #3399cc;
    font-size: 2.5rem;
}
#nav {
    background-color: #3399cc;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 10px 15px #00000081;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 90000;
}
#nav a {
    padding: 8px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}
#nav a.active-link {
    color: #004e75;
    text-shadow: 0 0 5px #fff;
}
.resource-container {
    background-color: #faafa586;
    min-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2rem;
    width: 95%;
    margin-inline: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 30px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.resource {
    background-color: #faafa5;
    border-radius: 1rem;
    width: 300px;
    min-height: 200px;
    
}

.resource-header {
    border-bottom: solid 1px #fff;
    padding: 5px;
}
.resource-name {
    font-size: 1.3rem;
    color: orangered;
    text-align: center;
}

.main-category {
    color: #3399cc;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 4px;
    margin-bottom: 4px;
    text-shadow: 0 0 2px #fff;
}
.note-sub-categories {
    color: #333;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-top: solid 1px #3399cc;
    border-bottom: solid 1px #3399cc;
    margin-bottom: 10px;
}
.note-sub-categories span {
    border-right: solid 1px #3399cc;
    padding: 4px;
    text-align: center;
    width: 30%;
}
.note-sub-categories span:last-child {
    border-right: none;
}
.resource-body {
    padding: 10px;
}
.resource-body a {
    line-break: anywhere;
    word-break: break-all;
    color: orangered;
}
.resource-sub-categories {
    color: #222;
    padding: 3px;
}


.note-container {
    background-color: #f6e78586;
    min-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2rem;
    width: 95%;
    margin-inline: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 30px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.note {
    background-color: #f6e785;
    border-radius: 1rem;
    min-height: 200px;
    width: 300px;
    position: relative;
    max-width: 90vw;
    margin-inline: auto;
}

.note-header {
    text-align: center;
    color: #555;
    border-bottom: solid 1px #797725;
}

.note-title {
    font-size: 1.5rem;
    padding: 5px;
    color: #222;
    border-bottom: solid 1px #797725;
}
.note-categories {
    padding: 6px;
    background-color: #79782571;
    box-shadow: inset 0 0 20px #00000081;
}
.note-body {
    padding: 10px;
}

.note-added {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    border-top: solid 1px #222;
    padding: 8px;
}


.item-container {
    background-color: #9fe48186;
    min-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    width: 95%;
    margin-inline: auto;
    border-radius: 1rem;
    margin-top: 30px;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.item {
    border-radius: 1rem;
    background-color: #9fe481;
    color: #222;
    width: 300px;
    min-width: 300px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.item-name {
    font-size: 1.5rem;
    padding: 5px;
}
.item-price {
    padding: 4px;
    color: orangered;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
}
.item img {
    max-width: 90%;
    border-radius: 1rem;
}


.project-container {
    background-color: #67cfdd86;
    min-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2rem;
    width: 95%;
    margin-inline: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 30px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.project {
    position: relative;
    background-color: #67d0dd;
    border-radius: 1rem;
    width: 300px;
    max-width: 90vw;

}

.project-importance {
    position: absolute;
    top: -18px;
    right: -18px;
    padding: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.project-importance span {
    padding: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
}
.project-header {
    padding: 10px;
    border-bottom: solid 1px #fff;
    font-size: 1.5rem;
    text-align: center;
}
.project-name {
    color: #fff;
}
.project-body {
    padding: 10px;
    margin-bottom: 10px;

}


.item, .resource, .note, .project, .notebook {
    box-shadow: 0 10px 15px #0000008f;
}


@media screen and (min-width: 800px) {
    body {
    }
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }
    .logo-container img {
        max-width: 100%;
        max-height: 50vh;
        margin-inline: auto;
        filter: drop-shadow(0 0 8px #3399cc);
    }
}