<style>

</style>


<div id="nav">
    <a href="/" class="active-link">Home</a>
    <a href="/company/projects">Projects</a>
    <a href="/company/inventory">Inventory</a>
    <a href="/company/resources">Resources</a>
    <a href="/company/notes">Notes</a>
</div>

<div class="logo-container">
    <img src="/images/system/olabs_logo_1a1a1a.png" alt="oLabs Logo">
</div>
<div class="page-header">
    <p>Welcome to oLabs! This is where WideSpread and all of the SpreadGadgets are born (or created if born is a little much for your taste in technology, they aren't actually alive, don't worry). Feel free to explore, if you're not allowed to see something.. you won't.</p>
</div>
<div class="page-header" style="margin-top: 18vh;">
<p>This entire site is under construction. It is updated multiple times a week. If it seems a little empty in here, come back in a day or two.</p>
<br>
<p>Investors: if you'd like more information on anything within the oLabs site (or any oLabs product sites), never hesitate to email me at <a style="color: #3399cc;" href="mailto:jolson@widespread.world">jolson@widespread.world</a> with any questions or comments.</p>
<br>
<p>Not sure what I left out, not sure what else to put right now... but like I said, "a day or two".</p>
</div>

<div class="move-this-el">

    
    <h1>DATA</h1>
    <ol>
        <li>olabs.tech - $9.99</li>
        <li>olabs.world - $1.99</li>
        <li>olabs.solutions - $1.99</li>
        <li>olabs.space - $1.99</li>
        <li>olabs.ventures - $19.99</li>
        
    </ol>
</div>












