<style>
    .logo-container {
        width: 100vw;
        max-width: 100vw;
        max-height: 100vh;
    }
    .logo-container img {
        max-width: 100%;
        max-height: 100%;
    }
</style>


<div id="nav">
    <a href="/" class="active-link">Home</a>
    <a href="/company/projects">Projects</a>
    <a href="/company/inventory">Inventory</a>
    <a href="/company/resources">Resources</a>
    <a href="/company/notes">Notes</a>
</div>

<div class="logo-container" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);z-index: -100;">
    <img src="/images/system/olabs_logo_1a1a1a.png" alt="oLabs Logo">
</div>



<div class="move-this-el">

    
    <h1>DATA</h1>
    <ol>
        <li>olabs.tech - $9.99</li>
        <li>olabs.world - $1.99</li>
        <li>olabs.solutions - $1.99</li>
        <li>olabs.space - $1.99</li>
        <li>olabs.ventures - $19.99</li>
        
    </ol>
</div>












