<style>

</style>



<div class="page-header">
    <h3>Project</h3>
    <h1><%= project.title %></h1>
    <h6 style="text-align: center; margin-bottom: 50px; margin-top: 25px;">Project ID: <%= project.id %></h6>
</div>

